@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  /* background-color: black; */
  color-scheme: dark;
}

body{
  padding: 64px 40px 0; 
}

/* main{  
  display: grid;
  grid-gap: 0 32px;
  gap: 0 32px;
  grid-auto-flow: row;
  grid-template-columns: repeat(12,3fr);
} */